<h1>{{mensaje}}</h1>

<a id="botonCerrarSesion" href="/admin/login/logout">CERRAR SESION</a>

<h2>Cargar novedad <span style="color: red">{{mensajeError}}</span></h2>

<form id="formularioNovedad" action="/admin/novedades/cargar" method="post">

    <p><input type="text" name="tituloNovedad" placeholder="TITULO" required></p>
    <p><input type="text" name="subtituloNovedad" placeholder="SUBTITULO" required></p>
    <p><textarea name="contenidoNovedad" cols="30" rows="10" maxlength="5000" placeholder="TEXTO" required></textarea></p>
    <p><input type="submit" value="CARGAR"></p>

</form>

<a id="botonCancelar" href="/admin/novedades">CANCELAR</a>