<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/estilos.css'/>
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <title>BHITech - Panel de administrador</title>
</head>
<body>

    <header>
        <div class="holder">

            <div id="cajaCabecera">

                <div id="cajaLogo">
                    <img id="logo" src="/images/logo.png" alt="Instituto Tecnológico de Bahía Blanca">
                </div>

                <div id="cajaNombre">
                    Instituto Tecnológico <br>
                    de Bahía Blanca
                </div>

            </div>

        </div>
    </header>

    {{{body}}}

    <footer>

        <div class="holder">
            <strong>Instituto Tecnológico de Bahía Blanca</strong>
            <br>
            Fitz Roy 804 - Bahía Blanca - 8000FTN - Provincia de Buenos Aires - República Argentina
            <br>
            Teléfono +54 291-1234567            
            <br>
            <br>            
            Desarrollado por Juan Ignacio Suardiaz<br>
            copyright &#169; 2022, todos los derechos reservados
        </div>

    </footer>

</body>
</html>