<h1>Ingrese su usuario y contraseña para ingresar al sistema</h1>
<form method="post" action="/admin/login">
    <input type="text" placeholder="usuario" name="usuario" required>
    <input type="text" placeholder="password" name="password" required>
    <input type="submit" value="ENVIAR">
</form>
<p>{{mensaje}}</p>