body{
    background-color: rgb(238, 238, 222);
}

.holder{
    width: 1000px;
    margin: auto;   
}

.activo{
    background-color: rgb(206, 161, 140);
}

header{
    width: 100%;
    height: 90px;
    background-color: lightsalmon;
    
}

h1{    
    margin-top: 0;
    font-family: "roboto";
}

#cajaLogo{
    width: 130px;
}

#logo{
    height: 84px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
}

#cajaCabecera{
    display: flex;
}

#cajaNombre{
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: white;    
    width: 870px;
    height: 90px;
    box-sizing: border-box;
    background-image: url('../images/cabecera.png');
    
}

nav {    
    height: 30px;
    background-color: sienna;
}

nav ul{    
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    /* color: white; */
    width: 163px;
    text-align: center;
    height: 30px;        
    font-family: 'roboto';
    margin: 0px;
    list-style: none;
}

nav ul li a{
    display: inline-block;    
    width: 100%;
    height: 100%;
    padding-top: 5px;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}

nav ul li a:hover{    
    background-color: brown;
}

#slider{
    position: relative;
    height: 500px;
    width: 1000px;    
    padding: 0;
    background-image: url("../images/edificio_1.png");
}

#zocalo{
    position: absolute; 
    background-color: rgba(255, 255, 255, 0.6); 
    width: 500px; 
    height: 80px; 
    right: 0px;
    top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    padding-left: 20px;
    line-height: 1.6;    
}

footer{
    height: 150px;
    background-color: dimgray;    
}

footer .holder{
    
    height: 100%;
    color: white;
    text-align: center;
    font-family: 'roboto';
    font-size: 12px;
    box-sizing: border-box;
    padding-top: 1.5em;
    line-height: 1.5em;
    background-image: url("../images/pie.png");
}

.cajaGraduados, .cajaGraduados2{
    height: 200px;    
    border: solid 1px black;
    border-radius: 15px;
    display: flex;
}

.cajaGraduados2{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.testimonioGraduado{
    width:800px;    
    padding: 10px;
    font-size: 18px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.cajaGraduados2:nth-child(odd) .testimonioGraduado {
    padding-left: 0px;
}

.cajaGraduados2:nth-child(even) address {    
    float: right;
}

.testimonioGraduado address{
    float: left;
}

.testimonioGraduado a{
    float: right;
    text-decoration: none;
}

.fotoGraduado{
    width: 200px;    
    text-align: center;
    padding-top: 7px;
}

#carreras{
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

#cajaCarreras{
    display: flex;
    justify-content: space-between;    
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: black; */
}

#carreras a{
    display: inline-block;
    width: 235px;
    height: 235px;
    background-color: rgb(218, 165, 32);  
    border-radius: 50px;  
    font-size: 25px;    
    color: white;    
    text-align: center;
    padding-top: 80px;
    box-sizing: border-box;
    text-decoration: none;
}

#carreras a:hover{
    background-color: rgba(218, 165, 32, 0.8);  
}

section h2 {
    font-family: 'roboto';
    background-color: lightgreen;
    display: inline-block;
}

#parallax{
    margin-top: 50px;
    width: 1000px;
    height: 300px;
    background-image: url("../images/edificio_2.png");
    /* efectos parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto    
}

section{
    /* background-color: red; */
    padding-top: 10px;
    padding-bottom: 10px
}

main .holder{
    border-left: dashed 1px black;
    border-right: dashed 1px black;
    padding-top: 10px;
    padding-bottom: 30px;
}

.cajaAlumnos{    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.tablaAlumnos, .tablaMaterias{
    width: 100%;
    font-family: 'roboto';
    font-size: 14px;
}

thead tr{
    background-color: black;
    color: white;  
}

thead tr th:first-child{
    width: 10%
}

thead tr th:last-child{
    width: 10%
}

tbody tr td{
    border: solid 1px black;
}

tbody tr td:first-child, tbody tr td:last-child{
    text-align:center
}

tbody tr td:nth-child(2){
    padding-left: 5px;
}

.tablaMaterias thead tr{
    background-color: gray;
}

#cicloBasico,
#desarrolloDeSoftware,
#cienciaDeDatos,
#internetDeLasCosas,
#inteligenciaArtificial,
.detalleCarrera {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;    
}

.detalleCarrera {
    text-align: justify;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: solid 1px rgb(218, 165, 32);
    border-right: solid 1px rgb(218, 165, 32);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.tituloCarrera{
    background-color: rgb(218, 165, 32);
    height: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    border: solid 1px rgb(218, 165, 32);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 10px;
    box-sizing: border-box;
}

.planCarrera {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: solid 1px rgb(218, 165, 32);;
    border-right: solid 1px rgb(218, 165, 32);;
    border-bottom: solid 1px rgb(218, 165, 32);;
}

#cicloBasico,
#desarrolloDeSoftware,
#cienciaDeDatos,
#internetDeLasCosas,
#inteligenciaArtificial {
    padding-bottom: 25px;
}

.cajaNovedad{
    background-color:rgb(160, 189, 192);
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.tituloNovedad,
.subtituloNovedad,
.fechaNovedad,
.textoNovedad{
padding-left: 15px;
padding-right: 15px;
padding-top: 5px;
padding-bottom: 5px;
box-sizing: border-box;
}

.tituloNovedad{
    font-size: 20px;
    font-weight: bold;
}

.subtituloNovedad{
    font-weight: bold;
}

.fechaNovedad{
    font-size: 14px;
}

.textoNovedad{
    text-align: justify;
    /* background-color: gray; */
}

form{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 50px;
    border: solid 1px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#cajaFormulario{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

form input{
    display: block;
    margin-top: 10px;
}

form input[type="text"],
form input[type="password"],
form textarea
 {
    width: 98%;
}

form input[type="submit"] {
    margin-left: auto;
}

.cajaDocente{
    height: 200px;
    border-radius: 15px;
    border: solid 1px black;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.fotoDocente{
    width: 200px;
    text-align: center;
    padding-top: 7px;
    /* background-color: orange; */
}

.infoDocente{
    width: 800px;
    padding-left: 5px;
    padding-right: 25px;
    text-align: justify;
    box-sizing: border-box;
    /* background-color: green; */
}

#cajaHistoria, #infoContacto{
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 14px; */
}

#mapa iframe{
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: black;
}