body{
    background-color: rgb(238, 238, 222);
}

.holder{
    width: 1000px;
    margin: auto;   
}

header{
    width: 100%;
    height: 90px;
    background-color: lightsalmon;
    
}

h1{
    font-family: Arial, Helvetica, sans-serif;  
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#cajaLogo{
    width: 130px;
}

#logo{
    height: 84px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
}

#cajaCabecera{
    display: flex;
}

#cajaNombre{
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: white;    
    width: 870px;
    height: 90px;
    box-sizing: border-box;
    background-image: url('../images/cabecera.png');
    
}

main{
    padding-left: 5px;
}

footer{    
    height: 150px;
    background-color: dimgray;    
}

footer .holder{
    
    height: 100%;
    color: white;
    text-align: center;
    font-family: 'roboto';
    font-size: 12px;
    box-sizing: border-box;
    padding-top: 1.5em;
    line-height: 1.5em;
    background-image: url("../images/pie.png");
}

h2 {
    font-family: Arial, Helvetica, sans-serif;    
    
}

.cajaNovedad{
    width: 1200px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.tablaNovedad{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;    
}

td{
    border: solid 1px black;
}

td:first-child{
    width: 20%;
    background-color: black;
    color: white;  
    text-align:center
}

td:last-child{
    width: 80%;
    text-align:left;
    padding-left: 10px;    
}

form{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 50px;
    border: solid 1px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#cajaFormulario{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

form input{
    display: block;
    margin-top: 10px;
}

form input[type="text"],
form input[type="password"],
form textarea
 {
    width: 98%;
}

form input[type="submit"] {
    margin-left: auto;
}

#botonCerrarSesion, #botonCargarNovedad{    
    text-align: center;
    height: 20px;
    width: 200px;
    color: white;    
    display: block;
    border-radius: 5px;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#botonCerrarSesion{
    background-color: red;
    margin-left: auto;
    margin-right: auto
}

#botonCargarNovedad{
    background-color: green;
}

.baseNovedad{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

.baseNovedad a{
    width: 9%;
    display: inline-block;
    height: 20px;
    text-align: center;
    text-decoration: none;
}

.baseNovedad a:first-child {
    background-color: gray;
    color: black;
}

.baseNovedad a:last-child{
    background-color: black;
    color: white;
}

#cajaVacia{
    height: 300px;
    text-align: center;
}